:root {
  --darkgrey: #273338;
  --lightgrey: #eceff1;
  --othergrey: #f7f7f7;
}
.header {
  background-color: var(--darkgrey);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding: 20px 50px;
}
.userprofile {
  display: flex;
  align-items: center;
}
.username {
  font-size: 18px;
  margin-right: 20px;
}
.usericon svg {
  width: 30px;
  background-color: white;
  border-radius: 25px;
  padding: 6px;
}
.accounts {
  background-color: var(--lightgrey);
}
.account {
  margin-top: 10px;
  margin-bottom: 20px;
}
.account__general {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-radius: 10px;
}
.account__general--name {
  font-size: 24px;
  font-weight: bold;
}
.account__general--balance {
  font-size: 20px;
}
.account__details {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.account__details--line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.account__details--line:nth-child(even) {
  background-color: var(--othergrey);
}
.account__details--line:nth-child(even) {
  background-color: #ffffff;
}
button {
  background-color: var(--othergrey);
  border: none;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 10px;
  margin-top: 20px;
  width: 15%;
}
button:hover {
  cursor: pointer;
}
